body {
margin: 0; padding: 0;background-color:hotpink;
}
.container {
width: 100%; margin:0 auto;
}
.flexContainer {
display: flex;
flex-direction: column;
}
h2 {
text-align: center;
}
form {
text-align: center;
}
.error {
  border: 2px solid red;
}
