body {
margin: 0; padding: 0;background-color:#FF1493;
}
.container {
width: 100%; margin:0 auto;
}
.flexContainer {
display: flex;
flex-direction: column;
}
h2 {
text-align: center;
}
form {
text-align: center;
}
